body
{
    background-color: #f5f5f5;
}
.contenedor
{
	overflow:auto;
    height: 399px;
    width: 432px;
    border-radius: 20px;
    margin-bottom: 30px;
    margin-left: 399px;
    background-color: #ffffff;
    border-style: none;
    box-shadow: 0px 15px 20px -5px #ffffff;
	position: relative;
}
#flecha-img
{
	position: absolute;
	top: 60px;
	left: 145px;
}
#sirena-img
{
	position: absolute;
	top: 70px;
	left: 170px;
}
.contenedor-p1
{
	color: #c0c5cb;
	font-size: 25px;
	font-family: sans-serif;
	font-stretch: expanded;
	display: block;
	position: absolute;
	right: 30px;
}
.p2
{
	position: absolute;
    text-align:center;
	font-family: sans-serif;
}
.flecha-p2
{
	top: 170px;
	left: 75px;
}
.sirena-p2
{
	top: 160px;
	left: 135px;
}
.contenedor-button
{
    height: 40px;
    width: 170px;
    text-align: center;
    color: #ffffff;
    border-radius: 5px;
    border-style: none;
	top: 260px;
	left: 125px;
	position: absolute;
}    
.contenedor-button:active 
{
	/* Moves button in the Y axis*/
	/*transform: translateY(4px);*/
	transform: scale(0.98);
	/* Scaling button to 0.98 to its original size */
	/* Lowering the shadow */
}
.flecha-button
{
    box-shadow: 0px 15px 10px -13px #ef655d;
    background-color: #ef655d;
}
.sirena-button
{
    box-shadow: 0px 15px 10px -13px #1c1b5e;
    background-color: #1c1b5e;
}
