body
{
    background-color: lightgrey;
}
.flex-main_container
{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin:auto;
    width: 859px;
    height: 928px;
    background-color: #FFFFFF;
    
}
.up-border
{
    border-top-left-radius: 0.4cm;
    border-top-right-radius: 0.4cm;
}
.border
{

    border-bottom-left-radius: .4cm;
    border-bottom-right-radius: .4cm;
}
.main_container-register
{

    height: 100px;
    display: flex;
    justify-content:space-between;
    background-color: #203774;
}
.turno
{
    color: #FFFFFF;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding-left: 50px;
    padding-top: 10px;
}
.turno-close
{
    background-color: #203774; 
    color: #ffffff; 
    font-size: 30px;
    border-width: 0px;
    padding-right: 40px;
}
.turno-close-img
{
    width: 25px;
    filter: invert(100%) sepia(0%) saturate(1%) hue-rotate(193deg) brightness(104%) contrast(101%);
}
.calendar
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.icon-size
{
    width: 15px;
}
.calendar-left_button
{
    padding-top: 45px;
    padding-left: 250px;
}
.calendar-right_button
{
    padding-top: 45px;
    padding-right: 250px;
}
.calendar-btn
{
    background: transparent;
    border: 0px;
}
.calendar-date
{
    font-size: 25px;
    text-align: center;
    font-weight: bolder;
}
.calendar-date-day
{
    font-size: 45px;
}