.videos
{
	position: relative;
}
.videos-sonata-titulo
{
	position: absolute;
	top: 20px;
	left: 70px;
}
.videos-sonata-video
{
	position: absolute;
	top:20px;

}
.videos-rammstein-titulo
{
	position: absolute;
	left: 480px;
	top: 50px;
}
.videos-rammstein-video
{
	position: absolute;
	top:20px;
	left: 420px;
}
.videos-imperio-video
{
	position: absolute;
	top:10px;
	left: 840px;	
}
.videos-imperio-titulo
{
	position: absolute;
	left: 950px;	
	top: 20px;
}
.videos-parrafo
{
	position: absolute;
	font-size: 100px;
	top: 400px;
}
.fotos
{
	position: relative;


}
.fotos h2
{
	position: absolute;
	left: 520px;
	bottom: 140px;
}
.lista
{
	position: absolute;
	left: 500px;
	bottom: 10px;
	font-size: 20px;
}
.fotos-common 
{
	width: 200px;
    display: block;
	border-radius: 50%;
}
.fotos-1
{
    margin-left: 300px;
}
.fotos-2
{
	position: absolute;
	bottom: 1px;
	left: 200px;
}
.fotos-3
{
	position: absolute;
	bottom: 1px;
	left: 100px;
}

